{% extends 'base.html.twig' %}

{% block title %}
Symfazon - Sale of Shoes
{% endblock %}

{% block body %}
    {% include 'utils/navbar.twig' %}
    <div class="container mx-auto my-8">
        <h1 class="text-3xl font-semibold mb-4 text-red-500">Discover our shoes</h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for shoe in shoes %}
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <div class="mb-4">
                        <span class="text-gray-500">{{ shoe.shoeBrand.brandName }}</span>
                        <h2 class="text-xl font-semibold">{{ shoe.shoeName }}</h2>
                    </div>

                    <div class="mb-2">
                        <strong>Colors:</strong>
                        <div class="flex space-x-2">
                            {% for color in shoe.shoeColor %}
                                <span class="text-gray-700">{{ color.colorName }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div>
                        <strong>Sizes available:</strong>
                        <div class="flex space-x-2">
                            {% for size in shoe.shoeSize %}
                                <span class="inline-block bg-gray-200 text-gray-700 rounded-md p-2">{{ size.shoeSize }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
